{% extends "base.html.twig" %}
{% block title %} Sign In {% endblock %}
{% block styles %}
    <!-- Custom styles for this template -->
    <link href="/assets/css/register.css" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="fixed-top">
        <div class="float-sm-right">
            <p class="lead menuButton">
                <a href="/register" class="btn btn-lg btn-secondary ">Sing up</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
<form class="form-signin" action="/login" method="POST" onsubmit="return validateLogin()">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    {%  if error_array['errorEmail'] %}
        <p id="error-email" class="error text-danger">{{ error_array['errorEmail'] }}</p>
    {%  endif %}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
    {%  if error_array['errorPasswordLength'] or error_array['errorPasswordCase']%}
        {% if error_array['errorPasswordCase'] is defined %}
            <p id="error-password" class="error text-danger">{{ error_array['errorPasswordCase'] }}</p>
        {% else %}
            <p id="error-password" class="error text-danger">{{ error_array['errorPasswordLength'] }}</p>
        {% endif %}
    {%  endif %}
    {%  if error_array['errorPassword']%}
        <p id="error-password" class="error text-danger">{{ error_array['errorPassword'] }}</p>
    {%  endif %}
    {%  if error_array['userNotFound']%}
        <p id="error-password" class="error text-danger">{{ error_array['userNotFound'] }}</p>
    {%  endif %}
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="inputRemember" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/assets/js/login.js"></script>

{% endblock %}