{% extends "base.html.twig" %}
{% block title %} Notifications {% endblock %}
{% block styles %}
    <!-- Custom styles for this template -->
    <link href="fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <body>

    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="/assets/img/ln.png" class="rounded float-left logo" alt="LateNight Group" width="50" height="50">
                <a class="navbar-brand" href="/dashboard">PWBOX</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/sharedDashboard">Shared</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="/notifications">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/logout">Logout</a>
                    </li>
                </ul>

                <div class=" ml-auto p-2">
                        <a href="/profile"><img src="{{ user_avatar }}" class="rounded-circle" alt="Avatar" width="50" height="50"></a>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block content %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Sent</th>
                <th scope="col">Title</th>
                <th scope="col">Information</th>
            </tr>
            </thead>
            <tbody>

            {% for notif in notifications %}
                <tr>
                    <td>
                        {{ notif['time_sent'] }}
                    </td>
                    <td>
                        {{ notif['title'] }}
                    </td>
                    <td>
                        {{ notif['message'] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
    {% block footer %}
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="/fine-uploader/fineuploader.js"></script>
        <script src="/fine-uploader/fineuploader.js"></script>
        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/dashboard.js"></script>
    {% endblock %}

</body>
{% endblock %}