{% extends "base.html.twig" %}
{% block title %} Shared Dashboard {% endblock %}
{% block styles %}
    <!-- Custom styles for this template -->
    <link href="fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <body>

    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="/assets/img/ln.png" class="rounded float-left logo" alt="LateNight Group" width="50" height="50">
                <a class="navbar-brand" href="/dashboard">PWBOX</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="/sharedDashboard">Shared</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/notifications">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/logout">Logout</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/profile"><img id="user-avatar-nav" src="{{ user_avatar }}" class="rounded-circle" alt="Avatar" width="50" height="50"></a>
                    </li>
                </ul>
            </nav>
        </header>
    {% endblock %}
    {% block content %}
        {% if isAdmin == true %}
            <nav class="navbar navbar-expand-lg navbar-dark utils">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="modal" data-target="#loadModal">
                            <img src="/assets/img/upload-button.png" class="float-left" title="Upload File" alt="Upload File" width="20" height="20">
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        <table class="table table-hover">
            <tbody>
            {% for carpeta in carpetes %}
                    <tr>
                        {% if carpeta['esCarpeta'] == true %}
                        <td  ondblclick="goToURLShared('{{ carpeta['urlPath'] }}')">
                            <img src="/assets/img/folder.png" width="20" height="20">
                            {% else %}
                        <td  ondblclick="downloadSharedFile('/sharedFile/{{ carpeta['urlPath'] }}')">
                            <img src="/assets/img/file.png" width="20" height="20">
                            {% endif %}

                            <p id = "{{ carpeta['id'] }}">{{ carpeta['nomCarpeta'] }}</p>

                            {% if carpeta['admin'] == 1 %}
                                <div class="actions float-right">
                                    {% if carpeta['esCarpeta'] == true %}
                                        <img src="/assets/img/rename-button.png" width="20" height="20" title="Rename Item" alt="Rename Item" onclick="renameSharedFolder({{ carpeta['id'] }}, '{{ carpeta['nomCarpeta'] }}', '{{ carpeta['urlPath'] }}')">
                                        <img src="/assets/img/delete-button.png" width="20" height="20" title="Remove Item" alt="Remove Item" onclick="removeSharedFolder({{ carpeta['id'] }}, '{{ carpeta['nomCarpeta'] }}', '{{ carpeta['urlPath'] }}')">
                                        <img src="/assets/img/share-button.png" width="20" height="20" title="Share Item" alt="Share Item" onclick="shareFolder({{ carpeta['id'] }})">
                                    {% else %}
                                        <img src="/assets/img/download-button.png" width="20" height="20" title="Download Item" alt="Download Item" onclick="downloadSharedFile('/sharedFile/{{ carpeta['urlPath'] }}')">
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="actions float-right">
                                    {% if isAdmin == true %}
                                        <img src="/assets/img/rename-button.png" width="20" height="20" title="Rename Item" alt="Rename Item" onclick="renameSharedFolder({{ carpeta['id'] }}, '{{ carpeta['nomCarpeta'] }}', '{{ carpeta['urlPath'] }}'    )">
                                        <img src="/assets/img/delete-button.png" width="20" height="20" title="Remove Item" alt="Remove Item" onclick="removeSharedFolder({{ carpeta['id'] }}, '{{ carpeta['nomCarpeta'] }}', '{{ carpeta['urlPath'] }}')">
                                        <img src="/assets/img/download-button.png" width="20" height="20" title="Download Item" alt="Download Item" onclick="downloadSharedFile('/sharedFile/{{ carpeta['urlPath'] }}')">
                                    {% else %}
                                        <img src="/assets/img/download-button.png" width="20" height="20" title="Download Item" alt="Download Item" onclick="downloadSharedFile('/sharedFile/{{ carpeta['urlPath'] }}')">
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>

        </table>

        <!-- Modal pujar fitxers -->
        <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" ondrop="handleDrop(event)" style="z-index:1111" id="droppable-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadModalLongTitle">Upload your file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="files-form" method="POST" enctype="multipart/form-data" action="/upload_shared_files/{{ carpetaParent }}">
                        <div>
                            <input type="file" class="form-control-file border" id="inputFiles" name="inputFiles[]"
                                   multiple="multiple" accept=".pdf, .jpg, .jpeg, .png, .gif, .md, .txt">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>



    {% endblock %}
    {% block footer %}
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="/fine-uploader/fineuploader.js"></script>
        <script src="/fine-uploader/fineuploader.js"></script>
        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/dashboard.js"></script>
    {% endblock %}

</body>
{% endblock %}